<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>실천하기</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta name="_csrf" th:content="${_csrf.token}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<!--sweetalert--><script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="../css/main/style.css" th:href="@{/css/main/style.css}"/>
	<link rel="stylesheet" href="../css/board/list.css" th:href="@{/css/board/list.css}"/>
	<link rel="stylesheet" href="../css/board/detail.css" th:href="@{/css/board/detail.css}"/>
	<link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}"/>
	
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<style>
.actList{
	display: flex;
	flex-direction: column;
}	

.likeAndHit{
	justify-content: flex-end;
	margin: 0 0.8rem 0.8rem 0;
}

.like-button{
	margin-left: 1rem;
}

.modal-header{
	display: flex;
	flex-direction: column;
}
.modal-header-1{
	display: flex;
	justify-content: space-between;
}

.modal-title{
	display: flex;
}

.modal-header-2{
	display: flex;
}
.modal-body{
	display: flex;
	gap: 1rem;
}
.modal-left{
	display: flex;
	max-width: 50%;
    max-height: 100%;
    border-radius: 1rem;
}
.modal-left img{
	border-radius: 1rem;
}
.modal-right{
	display: flex;
	width: 50%;
}
.modal-footer{
	padding: 0.4rem;
}
.commentArea{
	display: inline;
	width: 100%;
}
.commentWriter{
	display: inline-block;
	font-weight: bold;
}
.commentContent{
	display: inline-block;
	
}
.addComment{
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.addCommentContent{
	width: 80%;
	display: flex;
}

.btn_addComment{
	width: 20%;
	display: flex;
	justify-content: center;
}

.custom-btn{
	display: flex;
}

.modal-footer{
	display: flex;

}
.modal-footer-left{
	display: flex;
}
.modal-footer_right{
	display: flex;
}
</style>
</head>
<body>
	<div class="container">
		<!--header-->
		<div th:include="/main/header.html"></div>
		
		<!--타이틀_실천하기-->
		<div class="title">
			<div class="mainTitle"><h2 class="mainTitle">실천하기</h2></div>
			<div class="subTitle">오늘의 실천 내용을 나누어 보세요!</div>	
		</div>
		
		<!--메인상단-->
		<div class="row upperPart">
			<div th:text="${session.u.userno}" style="display: none;" id="loginUser"/>	<!--게시글 작성자 번호(현재로그인)-->
			<!--게시글 작성 버튼 -->	
			<div class="col">
				<button class="custom-btn btn_write" onclick="location.href='/board/insert'">게시글작성</button>
			</div>
			<!--<div class="col"></div>-->
			<!--검색창-->
			<div class="col-6">
				<form class="searchArea" action="" method="post">
					<input type="text" placeholder="검색어를 입력하세요." id="search"/>
					<button class="custom-btn btn_serach" id="btn_search">검색</button>
				</form>
			</div>
			
			<!--최신순/인기순-->
			<div class="col listOptionArea">
				<div class="nav justify-content-end" style="gap: 1rem;">
					<a class="latest" href="/board/list/1">최신순</a>
					<a class="likedRank" href="/board/list/1">인기순</a>
				</div>
			</div>
		</div><!--메인상단 끝-->
		
		
		<!--게시글 전체 목록-->
		<div class="row row-cols-4 actListAll">
			<!--게시글 한 개-->
			<div th:each="board:${list}" class="card" style="width: 23%; padding:0px;">
				<div class="actList" data-bs-toggle="modal" data-bs-target="#detailModal" >
					<div id="board_boardno" style="display: none;" th:text="${board.boardno}"></div>
					<!--이미지가 있는 경우-->
					<div th:if="${board.fname != null}">
						<!--<img class="card-img-top" th:src="@{/images/board/}+${board.fname}" alt="Card image">-->
						<img class="card-img-top" th:src="@{'/board/'+${board.fname}}" alt="Card image">
					</div>
					<div th:unless="${board.fname != null}">
						<img class="card-img-top" th:src="@{/board/default.jpeg}" alt="Card image">
	<!--					<img class="card-img-top" th:src="@{/images/board/default.jpeg}" alt="Card image">-->
					</div>
				    <div class="card-body" style="padding: 0.8rem;">
						<h4 class="card-title" th:text="${board.b_title}" id="b_title" style="margin:0px; white-space: nowrap; overflow : hidden; text-overflow : ellipsis;"></h4>
						<p class="card-text" th:text="${board.b_content}" id="b_content" style="white-space: nowrap; overflow : hidden; text-overflow : ellipsis;"></p>
						<p class="card-text" th:text="${board.nickname}" id="nickname"></p>
						<p th:text="${board.userno}" id="writerNo" style="display: none;"></p>
					</div>
				</div>
				<!--좋아요, 조회수 영역-->
				<div class="likeAndHit" style="padding-left: 0 0.8rem 0.8rem 0.8rem;">
					<!--<div class="like-button" style="display: none;">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
							style="width: 10px; margin-top: -10px; font-weight: 900;" id="heart"
							class="bi bi-heart" viewBox="0 0 16 16">
							<path
								d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
						</svg>
					</div>-->
					<div class="hit" th:text="${board.cnt}" id="cnt">조회수</div>
				</div><!--좋아요 영역 끝-->
				
			</div><!--게시글 한 개 끝-->
		</div><!--게시글 리스트 끝-->
		
		
		<!-- 상세 게시글 Modal -->
		<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="board_title" aria-hidden="true">
		  <div class="modal-dialog" style="max-width: 800px;">
		    <div class="modal-content">
		      <div class="modal-header">
				  <div class="modal-header-1">
					  <h1 class="modal-title fs-5" id="board_title"></h1>
				  </div>
		        <div class="modal-header-2">
		       		<p id="board_writer"></p>
		       		<p style="display: none;" id="board_writerNo"></p>
				 </div>
		      </div>
		      <div class="modal-body">
		        <!--왼쪽 화면 - 이미지--> 
		      	<div class="modal-left">
				  <img class="contentImage" id="board_img"/>
		      	</div>
		       <!--오른쪽 화면 - 내용--> 
		      	<div class="modal-right">
			        <div style="height: 40%;" id="board_content"></div>
			        <div class="commentArea">
						<!--<div class="commentWriter" id="board_comment_writer">댓글작성자</div>
						<div class="commentContent" id="board_comment_content">댓글내용</div>-->					
					</div>
					<div style="width:100%;">
						<!--댓글입력창-->
						<form class="addComment rightBottom" id="comment">
							<!--<input type="hidden" th:name="${_csrf.parameterName }" th:value="${_csrf.token }">-->
							<input type="hidden" name="boardno" id="boardno"/>	<!--현재게시글 번호-->
							<input type="hidden" name="userno" th:value="${session.u.userno}" id="userno"/>
							<input type="text" class="addCommentContent" name="c_content" id="c_content" placeholder="댓글을 입력하세요."/>
							<button type="submit" class="custom-btn btn_addComment" id="btn_addComment" >게시</button>
						</form>
					</div>
		      </div>
		      </div>
		      <div class="modal-footer" style="padding: 0; justify-content: space-between;">

				  <div th:class="modal-footer-left-UpdateDelete" style="display:none; gap:1rem;" >
					   <button type="button" class="btn custom-btn" id="btnUpdate">수정</button>
					   <button type="button" class="btn custom-btn" id="btnDelete">삭제</button>
				  </div>
				  
				  <div th:class="modal-footer-left-like" style="display:flex; gap:1rem;" >
					   <div class="like-button">
							<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
								style="width: 10px; margin-top: -10px; font-weight: 900;" id="heart"
								class="bi bi-heart" viewBox="0 0 16 16">
								<path
									d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
							</svg>
						</div>
				  </div>
				  
				  <div class="modal-footer-right">
					 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				  </div>
		      </div>
		    </div>
		  </div>
		</div>
	
		
		
		<!--페이지네이션-->
		<div class="grid text-center" style="--bs-columns: 4">
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
				 <li class="page-item" >
			    	<a class="page-link" href="#" aria-label="start"><span aria-hidden="true">&laquo;&laquo;</span></a>
			    </li>
			    <li class="page-item" >
			    	<a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			    </li>
			    <li th:each="idx:${#numbers.sequence(1, totalPage)}" class="page-item">
					<a th:href="@{'/board/list/'+${idx}}" class="page-link" th:text="${idx}"></a>
				</li>
			    <li class="page-item">
			    	<a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
			    </li>
			    <li class="page-item">
			    	<a class="page-link" th:href="@{'/board/list/'+${totalPage}}" aria-label="end"><span aria-hidden="true">&raquo;&raquo;</span></a>
			    </li>
			  </ul>
			</nav>
		</div><!--페이지네이션 끝-->
		
		<!--footer-->
		<div th:include="/main/footer.html"></div>
	</div>
	<script src="/js/board/list.js?ver=230817"></script>
</body>
</html>