<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="opinion">
 <!-- 해당 게시글의 문의 글의 전체 조회 -->
 <select id="findAllEducationOpinion" resultType="opinionVO">
	select opinionNO, eduNo, goodsNo, lecNO, ID, opinionName, opinionContent, opinionDate, opinionSecret, opinionPwd, opinionStatus, REVIEWSCORE, answerNo,type 
	from opinion where eduNO = #{eduNO} and type = 'opinion' order by opinionNO desc
 </select>
 <select id="findAllLectureOpinion" resultType="opinionVO">
	select opinionNO, eduNo, goodsNo, lecNO, ID, opinionName, opinionContent, opinionDate, opinionSecret, opinionPwd, opinionStatus, REVIEWSCORE, answerNo,type 
	from opinion where lecNO = #{lecNO} and type = 'opinion' order by opinionNO desc
 </select>
 <!-- 해당 게시글의 문의 글의 상세 조회 -->
 <select id="findByNoEducationOpinion" resultType="opinionVO">
 	select * from opinion where eduNO = ${eduNO} and opinionNO = #{opinionNO} and type = 'opinion' 
 </select>
 <select id="findByNoLectureOpinion" resultType="opinionVO">
 	select * from opinion where lecNO = ${lecNO} and opinionNO = #{opinionNO} and type = 'opinion' 
 </select>
 
</mapper>